# General
bin/
target/
.classpath
.project
.settings
.DS_Store
*.log
build/
.metadata/

# Intellij
.idea/
*.iml
*.iws
*.ipr
.gradle/
out/
/.recommenders/
*.jtl
**/.~lock.*

#Maven
dependency-reduced-pom.xml