<configuration>
    <appender name="APP" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.rsocket" level="debug"/>
    <logger name="io.vlingo" level="error"/>
    <logger name="io.netty" level="error"/>
    <logger name="reactor" level="error"/>
    <logger name="io.vlingo.actors.GridMailbox" level="error"/>
    <logger name="io.vlingo.lattice.grid.GridNode" level="error"/>
    <logger name="io.vlingo.lattice.grid.application.GridApplicationMessageHandler" level="error"/>
    <logger name="io.vlingo.lattice.grid.application.OutboundGridActorControl" level="error"/>
    <logger name="io.vlingo.lattice.util.ExpiringHardRefHolder" level="error"/>

    <root>
        <level value="debug" />
        <appender-ref ref="APP"/>
    </root>
</configuration>