// Put your custom sass variables here
$primary-color: #00753b;
$secondary-color: #acd164;
$accent-color: #b78bc0;
$error-color: #e64325;
$warning-color: #ffa336;
$info-color: #acd164;
$success-color: #009d4b;