<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="error"/>
    <logger name="io.rsocket" level="error"/>
    <logger name="reactor" level="error"/>
    <logger name="io.vlingo.xoom.wire" level="error"/>
    <logger name="io.vlingo.xoom.lattice.grid" level="info"/>
    <!--logger name="io.vlingo.xoom" level="error"/-->
    <logger name="io.vlingo.xoom.lattice.grid.GridMailbox" level="debug"/>
    <logger name="io.vlingo.xoom.lattice.grid.Grid" level="debug"/>
    <logger name="io.vlingo.xoom.lattice.grid.GridNode" level="debug"/>
    <!--logger name="io.vlingo.xoom.lattice.grid.application.GridApplicationMessageHandler" level="error"/-->
    <logger name="io.vlingo.xoom.actors.InboundGridActorControl" level="debug"/>
    <logger name="io.vlingo.xoom.lattice.grid.application.OutboundGridActorControl" level="debug"/>
    <!--logger name="io.vlingo.xoom.cluster.model.outbound.OperationalOutboundStreamActor" level="debug"/-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>